---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Portfolio Web | Adrián Hdez">
	<main class="w-full h-full flex flex-col">
		<Header />
		<Hero />
		<Projects />
	</main>
</Layout>
