---
import ContainerSection from "./ContainerSection.astro";
import Me from "./icons/Me.astro";
---

<ContainerSection id="about-me" class="my-16">
    <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
    >
        <Me class="size-7 fill-orange-600" />
        Sobre mí
    </h2>
    <article
        class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
    >
        <img
            width="200"
            height="200"
            src="/img/adrianhdez.webp"
            alt="Adrián Hdez"
            class="object-cover w-64 h-full p-1 lg:p-2 lg:w-64 aspect-square -rotate-3 rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
        />
        <div class="[&>p]:mb-4 text-pretty">
            <p>
                Me llamo César Adrián Hernández Hernández, tengo dos años de
                experiencia, y actualmente colaboro como desarrollador Web en el
                laboratorio de desarrollo de Apps de la División Académica de
                Ciencias y Tecnologías de la Información de la Universidad
                Juárez Autonóma de Tabasco.
            </p>
            <p>
                Entre mis experiencias más destacadas se encuentra mi
                participación en la
                <a
                    href="https://casa-cacao.ujat.mx/"
                    target="_blank"
                    class="underline"
                    >Casa Universitaria del Cacao y Chocolate.</a
                >
            </p>
            <p>
                Como desarrollador frontend, tengo experiencia utilizando
                frameworks como Astro y React, además de tecnologías como CSS y
                Tailwind para crear interfaces web modernas y eficientes. Así
                mismo, tengo experiencia en la creación de juegos utilizando el
                motor gráfico Unity y el lenguaje de programación C#. Estoy
                involucrado en varios proyectos, donde aplico mis conocimientos
                en tecnologías web para ofrecer soluciones innovadoras.
            </p>
        </div>
    </article>
</ContainerSection>
