---
import ContainerSection from "@components/ContainerSection.astro";
import ExperienceItem from "@components/items/ExperienceItem.astro";
import Briefcase from "@components/icons/Briefcase.astro";
import { EXPERIENCIE } from "@utils/data";
---

<ContainerSection id="experience">
    <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
    >
        <Briefcase class="size-7 stroke-orange-600" />
        Experiencia laboral
    </h2>
    <ol class="relative my-16">
        {
            EXPERIENCIE.map((experiencie) => (
                <li class="">
                    <ExperienceItem {...experiencie} />
                </li>
            ))
        }
    </ol>
</ContainerSection>
