---
import ContainerSection from "./ContainerSection.astro";
---

<ContainerSection class="mt-20">
    <footer
        class="flex flex-col items-start justify-center sm:flex-row sm:justify-between pt-2 mb-5 text-gray-500 dark:text-white/30"
    >
        <div class="flex items-center justify-center text-sm">
            <p>&copy; {new Date().getFullYear()} Template by <a href="https://midu.dev/" target="_blank" class="hover:underline">midudev</a></p>
        </div>
        <div class="flex items-center justify-center text-sm mt-2 sm:mt-0">
            <a
                href="mailto:cesarahh3@gmail.com"
                class="hover:transition-all hover:underline">Contacto</a
            >
        </div>
    </footer>
</ContainerSection>
