---
import ContainerSection from "./ContainerSection.astro";
---

<ContainerSection class="mt-20">
    <footer class="flex flex-col items-start justify-center sm:flex-row sm:justify-between pt-2 mb-5 text-white/30 ">
        <div class="flex items-center justify-center text-sm">
            <p>&copy; 2024 Adrián Hdez | Casi todos los derechos reservados</p>
        </div>
        <div class="flex items-center justify-center text-sm mt-2 sm:mt-0">
            <a href="mailto:cesarahh3@gmail.com" class="hover:transition-all hover:underline">Contacto</a>
        </div>
    </footer>
</ContainerSection>
