---
import { LINKS } from "@utils/data";
---

<header
    class="mx-auto w-full inline-flex h-auto items-center justify-center mt-3 p-0 sm:justify-between sm:p-3 lg:max-w-4xl md:max-w-2xl"
>
    <img
        src="/img/me.webp"
        alt="Adrián Hdez"
        class="size-12 rounded-full hidden sm:block"
    />
    <nav
        class="flex text-sm font-medium rounded-full justify-center items-center"
    >
        {
            LINKS.map(({ name, path, label }) => (
                <a
                    href={path}
                    aria-label={label}
                    class="hover:text-orange-600 dark:hover:text-orange-600 transition relative block px-2 py-2 focus-visible:outline-none"
                >
                    {name}
                </a>
            ))
        }
    </nav>
</header>
