---

const LINKS = [
    {
        name: "Experiencia",
        path: "#experience",
    },
    {
        name: "Proyectos",
        path: "#projects",
    },
    {
        name: "Sobre mí",
        path: "#about-me",
    },
    {
        name: "Contacto",
        path: "#contac",
    },
];
---

<header
    class="mx-auto w-full flex flex-row h-auto items-center justify-center mt-3 p-0 sm:w-3/4 sm:justify-between sm:p-3"
>
    <img
        src="/img/profile.jpg"
        alt="Logo AdrianHdez"
        class="size-12 rounded-full hidden sm:block"
    />
    <nav
        class="flex text-sm font-medium rounded-full justify-center items-center"
    >
        {
            LINKS.map(({ name, path }) => (
                <a
                    href={path}
                    class="hover:text-perso dark:hover:text-perso transition relative block px-2 py-2"
                >
                    {name}
                </a>
            ))
        }
    </nav>
</header>
