---
import ContainerSection from "./ContainerSection.astro";
import { HREF } from "../constans/index";
---

<ContainerSection class="py-16 md:py-36">
    <img
        src="/img/me.webp"
        alt="Logo AdrianHdez"
        class="size-12 rounded-full sm:hidden block mb-4"
    />
    <h1
        class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
    >
        Hey, soy Adrián Hdez
    </h1>
    <p class="mt-6 text-xl text-gray-800 dark:text-gray-300">
        Tengo experiencia en el desarrollo front-end, enfocándome en crear
        experiencias de usuario fluidas y atractivas. Trabajo con tecnologías
        clave como HTML, CSS, y JavaScript, y he desarrollado habilidades
        avanzadas en frameworks como React.js y Astro para construir interfaces
        rápidas y modernas. Además, domino frameworks CSS como Tailwind y
        Bootstrap, lo que me permite implementar diseños responsivos y
        optimizados.
    </p>
    <nav
        class="w-full mt-6 flex flex-row flex-wrap justify-start items-start gap-2"
    >
        {
            HREF.map(
                (item) =>
                    item.path && (
                        <a
                            href={item.path}
                            rel="noopener noreferrer"
                            class="inline-flex px-4 py-1 rounded-2xl bg-white/10 hover:bg-black/70 hover:text-white dark:hover:bg-gray-600 items-center justify-center gap-2 border border-gray-300 dark:border-gray-600 hover:border-gray-700 group transition-colors"
                            download={
                                item.download
                                    ? "cesar_adrian_hdez_hdez_cv.pdf"
                                    : undefined
                            }
                        >
                            <item.icon
                                class={`dark:stroke-white/70 stroke-gray-800 ${item.class} group-hover:stroke-white/70`}
                            />
                            {item.title}
                        </a>
                    ),
            )
        }
    </nav>
</ContainerSection>
