---
import ContainerSection from "./ContainerSection.astro";
import { HREF } from "../constans/index";
---

<ContainerSection class="py-16 md:py-36">
    <img
        src="/img/me.webp"
        alt="Logo AdrianHdez"
        class="size-12 rounded-full sm:hidden block mb-4"
    />
    <h1
        class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
    >
        Hey, soy Adrián Hdez
    </h1>
    <p class="mt-6 text-xl text-gray-800 dark:text-gray-300">
        +2 años de experiencia como desarrollador frontend. Me especializo en
        crear experiencias de usuario intuitivas y atractivas utilizando
        tecnologías como HTML, CSS, y JavaScript. También tengo experiencia en
        frameworks como React.js y Astro, y habilidades en el uso de frameworks
        CSS como Tailwind y Bootstrap.
    </p>
    <nav
        class="w-full mt-6 flex flex-row flex-wrap justify-start items-start gap-2"
    >
        {
            HREF.map(
                (item) =>
                    item.path && (
                        <a
                            href={item.path}
                            rel="noopener noreferrer"
                            class="inline-flex px-4 py-1 rounded-2xl bg-white/10 hover:bg-black/70 hover:text-white dark:hover:bg-gray-600 items-center justify-center gap-2 border border-gray-300 dark:border-gray-600 hover:border-gray-700 group transition-colors"
                        >
                            <item.icon
                                class={`dark:stroke-white/70 stroke-gray-800 ${item.class} group-hover:stroke-white/70`}
                            />
                            {item.title}
                        </a>
                    ),
            )
        }
    </nav>
</ContainerSection>
