---
import ContainerSection from "./ContainerSection.astro";
import File from "./icons/File.astro";
import Linkedin from "./icons/Linkedin.astro";
import Email from "./icons/Email.astro";

const HREF = [
    {
        title: "Mi CV",
        class: "size-3",
        path: "",
        icon: File,
    },
    {
        title: "LinkedIn",
        class: "size-3",
        path: "https://www.linkedin.com/in/adrianh2/",
        icon: Linkedin,
    },
    {
        title: "Contáctame",
        class: "size-3",
        path: "mailto:cesarahh3@gmail.com",
        icon: Email,
    },
];
---

<ContainerSection class="py-16 md:py-36">
    <img
        src="/img/profile.jpg"
        alt="Logo AdrianHdez"
        class="size-12 rounded-full sm:hidden block mb-4"
    />
    <h1
        class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
    >
        Hey, soy Adrián Hdez
    </h1>
    <p class="mt-6 text-xl text-gray-800 dark:text-gray-300">
        Cerca de dos años de experiencia como desarrollador frontend, me
        especializo en crear experiencias de usuario intuitivas y atractivas
        utilizando tecnologías como HTML, CSS, y JavaScript. También tengo
        experiencia en frameworks como React.js y Astro, y habilidades en el uso
        de frameworks CSS como Tailwind y Bootstrap. Siempre estoy buscando
        nuevas formas de mejorar y contribuir al éxito de proyectos emocionantes
        en el futuro.
    </p>
    <nav class="w-full mt-3 flex flex-row items-center space-x-2">
        {
            HREF.map((item) => (
                <a
                    href={item.path}
                    class="flex flex-row px-3 py-1 rounded-2xl bg-white/10 hover:bg-gray-600 items-center justify-center space-x-2 transition border border-gray-300 dark:border-gray-600 hover:border-gray-700 group"
                >
                    <item.icon
                        class={`dark:fill-white/70  fill-gray-800 ${item.class} group-hover:fill-white/70`}
                    />
                    <span class="dark:text-white/70 text-xs font-normal text-gray-800 hover:text-white/70">
                        {item.title}
                    </span>
                </a>
            ))
        }
    </nav>
</ContainerSection>
