---
const { href } = Astro.props;
---

<a
    href={href}
    target="_blank"
    role="link"
    class="inline-flex w-fit items-center text-lg font-medium text-orange-500 dark:text-orange-200 dark:hover:text-orange-300 hover:text-orange-700"
>
    <slot />
</a>
